#CartWg {
  font-size: 1.3rem;
  color: white;
  padding-right: 100px;
}
.navbar {
  padding-left: 50px;
}

.navBrand {
  margin-right: 30px;
}

.spinnerContainer {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.listProductImg {
  height: 200px;
  width: auto;
}
